
:root{
    --poppins-bold: "Poppins-Bold";
    --play-black: "PlayfairDisplay-Black";
    --play-bold: "PlayfairDisplay-Bold";
    --Montserrat-regular: "-ReMontserratgular";
    --Montserrat-medium: "Montserrat-Medium";
    --Montserrat-light: "Montserrat-Light";
    --Montserrat-ultra: "Montserrat-ExtraLight";
    --PerpetuaTitlingMTLight2 : "PerpetuaTitlingMTLight2";
    --White: #fff;
    --Nickel: rgba(112,112,112,10%);
    --Space-Cadet: #151D41;
    --Emerald-Green: #0FBF61;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* = 10px */
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--Montserrat-light);
    color: var(--Space-Cadet);
}

/*

-- Components

*/
.section-title{
    font-family: var(--Montserrat-regular);
    color: var(--Emerald-Green);
    background-color: var(--Nickel);
    border-radius: .5rem;
    width: 12.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: var(--play-bold);
}
/* 

-- Helper Classes

*/

.btn{
    font-family: var(--Montserrat-regular);
    font-size: 1.8rem;
    border-radius: 1rem;
    color: var(--White);
    background-color: #0FBF61;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 

-- App

*/

.header{
    background-color: var(--White);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header__scroll{
    height: .4rem;
    background-color: var(--Emerald-Green);
    border-radius: 2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}
.nav__wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-title{

}
.header-title__icon{
    font-family: var(--poppins-bold);
}
.header-title__icon:last-child{
    color: var(--White);
    display: inline-block;
    background-color: var(--Emerald-Green);
    border-radius: 1rem;
    padding: .2rem .4rem;
}
.nav-list{
    display: flex;
    gap: 2rem;
}
.nav-list__item{

}
.nav-list__link{
    font-family: var(--Montserrat-regular);
    color: var(--Space-Cadet);
    transition: all 150ms ease-in;
}
.header__link{
    font-family: var(--Montserrat-regular);
    font-size: 1.8rem;
    background-color: var(--White);
    color: var(--Emerald-Green);
    padding: .8rem 1.6rem;
    border-radius: 1rem;
}

/* 

-- Hamburger Menu

*/

.nav-toggle{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}
.nav-toggle__top,
.nav-toggle__mid,
.nav-toggle__bot{
    width: 70%;
    height: 0.3rem;
    border-radius: 4rem;
    background-color: #0FBF61;
    transition: all 150ms ease-in;
}
.nav-toggle__mid{
    transition: all 150ms ease-in;
}
.nav-toggle--open .nav-toggle__mid{
    background-color: transparent;
}
.nav-toggle--open .nav-toggle__top,.nav-toggle__bot{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav-toggle--open .nav-toggle__top{
    transform: rotate(45deg);
}
.nav-toggle--open .nav-toggle__bot{
    transform: rotate(-45deg);
}

/* 

-- Main

*/

.main{
    margin-top: 8rem;
}

/* 

-- Home Section

*/

.home{
    margin-top: 16rem;
    position: relative;
}
.home-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home-left__title{
    font-family: var(--play-bold);
}
.home-left__subtitle{
    font-family: var(--Montserrat-regular);
}
.home-left__text{
    margin: 4rem 0 ;
}
.home__links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 100;
}
.home__link{

}

.home-right{
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    background-image: url(../images/header-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


/* 

-- Main Socials

*/

.social{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    bottom: 0;
    top: 0;
}
.social-icon{
    position: fixed;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    z-index: 5;
}
.social-icon__item{

}
.social-icon__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2.5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 150ms ease-in;
}
.social-icon__svg{
    width: 2rem;
    height: 2rem;
}
.social-icon__link:hover{
    background-color: var(--Emerald-Green);
    fill: var(--White) !important;
}
.social-icon__link:hover .social-icon__svg {
    fill: #fff !important;

}

/* 

-- About Section

*/

.about{
    margin-top: 8rem;
}
.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.about-left__img{
   width: 75%;
   height: 100%;
}
.about-left__circle{
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    border: 1.5rem solid var(--Emerald-Green);
    position: absolute;
    top: -7rem;
    left: 0;
}
.about-left__points{
    position: absolute;
    top: -2rem;
    right: 4.5rem;
    width: 18rem;
    height: 18rem;
    z-index: -100;
}
.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-right__title{
    margin-top: 2rem;
    max-width: 33rem;
}
.about-right__caption{
    margin: 4rem 0;
}

/* 

-- About Section

*/

.statistics{
    margin-top: 6rem;
}
.statistics__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.statistics-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    box-shadow: 0 0 1rem #7682B7;
}
.statistics-content__circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 75%;
    height: 75%;
    border: 1px solid var(--Emerald-Green);
    animation: statistics_1 5s linear 1s infinite ;
}

@keyframes statistics_1 {
    from{ border: 1rem solid var(--Emerald-Green);}
    to{border: 1px solid var(--White);}
}
.statistics-content__percent{
    font-family: var(--play-black);
}
.statistics-content__career{
    font-family: var(--Montserrat-regular);
}

/* 

-- Services Section

*/

.services{
    margin-top: 10rem;
}
.services__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.services__title{
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-family: var(--play-bold);
}
.service{
    box-shadow: 0 0 1rem #7682B7;
    width: 100%;
    height: 40rem;
    padding: 3rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.service__icon{
    
}
.service__title{

}
.service__line{
    width: 2rem;
    height: 0.2rem;
    background-color: var(--Emerald-Green);
    border-radius: 2rem;
    position: relative;
}
.service__line::after,
.service__line::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--Emerald-Green);
    border-radius: 2rem;
}
.service__line::after{
    left: 6rem;
}
.service__line::before{
    left: 3rem;
}
.service__caption{

}
.service-link{
    margin-top: 2rem;
    width: 14rem;
    height: 4rem;
    padding: 1rem;
    background-color: var(--Emerald-Green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.service-link__txt{
    color: var(--White);
}
.service-link__svg{

}


/* 

-- Skill Section

*/

.skill{
    margin-top: 6rem;
}
.skill__title{
    margin: 0 auto;
    color: #000000;
    margin-bottom: 4rem;
}
.skill-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.skill-top__title{
    font-size: 2.5rem;
    font-family: var(--play-bold);
}
.skill-top__btn{
    
}
.skill-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skill-content__percent{
    font-family: var(--play-black);
    font-size: 2.5rem;
}
.skill-content__range{
    background-color: var(--Nickel);
    width: 100%;
    height: 0.4rem;
}
/* 

-- Animation Section Skill

*/
.skill-content__range--1{
    width: 100%;
    height: 0.4rem;
    animation: skill-1 5s linear 1s infinite ;
}
.skill-content__range--2{
    width: 100%;
    height: 0.4rem;
    animation: skill-2 5s linear 1s infinite ;
}
.skill-content__range--3{
    width: 100%;
    height: 0.4rem;
    animation: skill-3 5s linear 1s infinite ;
}
.skill-content__range--4{
    width: 100%;
    height: 0.4rem;
    animation: skill-4 5s linear 1s infinite ;
}
.skill-content__range--5{
    width: 100%;
    height: 0.4rem;
    animation: skill-5 5s linear 1s infinite ;
}
.skill-content__range--6{
    width: 100%;
    height: 0.4rem;
    animation: skill-6 5s linear 1s infinite ;
}
@keyframes skill-1 {
    from {background-color: var(--Emerald-Green); width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 95%;}
}
@keyframes skill-2 {
    from {background-color: var(--Emerald-Green);width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 85%;}
}
@keyframes skill-3 {
    from {background-color: var(--Emerald-Green);width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 70%;}
}
@keyframes skill-4 {
    from {background-color: var(--Emerald-Green);width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 90%;}
}
@keyframes skill-5 {
    from {background-color: var(--Emerald-Green);width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 80%;}
}
@keyframes skill-6 {
    from {background-color: var(--Emerald-Green);width: 0;}
    to { background-color: var(--Emerald-Green); max-width: 65%;}
}

.skill-content__title{
    font-family: var(--play-bold);
    font-size: 2rem;
}
.skill-content__caption{

}

/* 

-- Portfolio Section

*/

.portfolio{
    margin-top: 6rem;
}
.portfolio-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}
.portfolio-list__item{
    font-family: var(--Montserrat-medium);
    cursor: pointer;
    transition: all 150ms ease-in;
}
.portfolio-list__item:hover{
    color: var(--Emerald-Green);
}
.portfolio-list__item--active{
    position: relative;
}
.portfolio-list__item--active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--Emerald-Green);
}
.portfolio__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.portfolio__wrapper{
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.portfolio__wrapper--show{
    height: auto;
    opacity: 1;
    overflow: visible;
}
.portfolio-content{
    max-width: 30rem;
}
.portfolio-content__img{
    width: 100%;
}
.portfolio__btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/* 

-- Comment Section

*/

.comment{
    margin-top: 6rem;
}
.swiper{

}
.swiper-wrapper{

}
.swiper-slide{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.swiper-slide__qute{
    font-family: var(--PerpetuaTitlingMTLight2);
    font-size: 8rem;
    color: var(--Emerald-Green);
    height: 8rem;
}
.swiper-slide__caption{
    max-width: 72rem;
    text-align: center;
}
.swiper-slide__name{
    margin: 2rem 0;
    font-family: var(--play-bold);
    font-size: 2.2rem;
}
.swiper-slide__address{

}
.swiper-button-prev,
.swiper-button-next{
    width: 5rem !important;
    height: 5rem !important;
    background-color: var(--White);
    box-shadow: 0 0 .5rem #707070;
    border-radius: 100%;
    padding: 1rem;
    z-index: 1;
}
.swiper-button-prev__svg{
    transform: rotate(180deg);
}
.swiper-button-next__svg{

}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
    content: "" !important;
}
/* 

-- Blog Section

*/

.blog{
    margin-top: 6rem;
}
.blog-content{
}
.blog-content__img{
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.blog-content__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem  #7682B7;
    margin-top: -2rem;
}
.blog-content__date{
    font-family: var(--poppins-bold);
    color: var(--Emerald-Green);
}
.blog-content__title{
    font-family: var(--play-bold);
}
.blog-content__caption{

}
.blog__btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/* 

-- Contact Section

*/

.contact{
    margin-top: 6rem;
}
.contact__img{
    padding-top: 6rem;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.contant-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.contact-form__input{
    border: 1px solid var(--Space-Cadet);
    padding: 1.6rem;
    flex-basis: 45%;
    border-radius: .5rem;
}
.contact-form__txt-area{
    flex-basis: 91.5%;
    max-height: 12rem;
    min-height: 5rem;
    border-radius: .5rem;
    padding: 1.5rem;
    outline: none;
    border: 1px solid var(--Space-Cadet);
}
.contact__btn{
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

/* 

-- Footer

*/

.footer{
    padding-bottom: 1.5rem;
}
.footer__parent{
    position: relative;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 6rem;
}
.footer-top__caption{
    width: 41rem;
    font-family: var(--play-bold);
    font-size: 2rem;
}
.footer-top__btn{
    width: 5rem;
    height: 5rem;
    background-color: var(--Emerald-Green);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.footer-top__svg{
    width: 1.5rem;
    height: 1.5rem;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 3rem;
}
.footer-bottom__caption{
    flex-basis: 34rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
.footer-list__item{

}
.footer-list__item--active{
    font-family: var(--Montserrat-medium);
    color: var(--Emerald-Green);
    margin-bottom: 1rem;
}
.footer__copyright{
    display: flex;
    justify-content: center;
    font-family: var(--Montserrat-light);
    color: var(--Space-Cadet);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 0;
    position: relative;
}
.footer__copyright::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background-color: var(--Nickel);
}